[safe]
	directory = /home/minecraft
[user]
	name = ntshap
	email = natasharondonuwu@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
